<!-- <footer id="footer" class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <a class="newshore-logo" href="/" title="Newshore">
                <img src="/media/1414/newshore-by_flyr-logo-inverse.svg" alt="Newshore">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <ul class="footer_nav">
                <li>
                    <a href="/home/" title="Home">Home</a>
                </li>
                <li>
                    <a href="/home/about-us/" title="About us">About us</a>
                </li>
                <li>
                    <a href="/home/contact/" title="Contact">Contact</a>
                </li>
                <li>
                    <a href="/home/about-us/privacy-en/" title="Privacy">Privacy</a>
                </li>
                <li>
                    <a href="/home/about-us/personal-data-protection-en/" title="Personal data protection">Personal data
                        protection</a>
                </li>
                <li>
                    <a href="/home/about-us/cookies-en/" title="Cookies">Cookies</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
            <h5>Global Headquarters:</h5>
            <h6>Newshore Barcelona</h6>
            <address>
                Ramon Turró 169, 3rd floor<br>08005 - Barcelona (Spain)<br>Tel: +34 932 726 760 <a
                    href="mailto:info@newshore.es" title="info@newshore.es">info@newshore.es</a>
            </address>
        </div>
        <div class="col-xs-6 col-sm-3">
            <h5>Colombia Office:</h5>
            <h6>Newshore Manizales</h6>
            <address>
                Carrera 23 Nro 55 - 100<br>Manizales, Caldas (Colombia)<br>Tel: +57 6 885 20 42 <a
                    href="mailto:info@newshore.es" title="info@newshore.es">info@newshore.es</a>
            </address>
        </div>
        <div class="col-xs-12">
            <div class="SocialIcons SocialIcons--base">
                <ul>
                    <li><a class="nsui-twitter--neg" href="https://twitter.com/NewshoreSG" target="_blank"
                            title="Twitter"></a></li>
                    <li><a class="nsui-linkedin--neg" href="http://www.linkedin.com/company/newshore" target="_blank"
                            title="Linkedin"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> -->