<div id="home" class="home">
    <div class="base">
        <hgroup data-aos="zoom-out-down" class="">
            <img src="https://www.newshore.es/media/1310/header-plane-3jpg.jpg" alt="We" class="filter brightness-75">
            <h1
                class="title">
                We create airline solutions through technology and business expertise</h1>
        </hgroup>
        <button routerLink="/flights/search-flights" class="sign-in"><a>Plan your route</a></button>
        <div data-aos="zoom-out-left" *ngFor="let img of imgs" class="fullImg">
            <div class="color_box text-over_box">
                <img src="{{ img.src }}" alt="{{ img.alt }}">
            </div>
        </div>
        <div class="statement_box layOut--center">
            <div class="content_box">
                <p class="parraph">We believe in Commitment, Team play, Transparency,
                    Empowerment and Entrepreneurship: These are our values</p>
            </div>

            <div class="divabout link_button">
                <a class="ml-auto" href="/home/about-us/" title="About us">
                    <span class="link_button_label btnlabel">About us</span>
                </a>
            </div>
        </div>
    </div>
</div>