.home {
    @apply bg-primary_light-100 w-full flex justify-center;
}

.base {
    @apply w-[90%] md:w-1/2 h-full pt-16;
}

.title {
    @apply relative transform md:text-xl -translate-y-32 xl:-translate-y-40 2xl:-translate-y-60 mx-auto lg:text-2xl xl:text-4xl text-white font-extralight w-11/12 align-middle text-center z-50;
}

.sign-in {
  border: 2px solid white;
  background: transparent;
  text-transform: uppercase;
  color: white;
  padding: 10px 50px;
  outline: none;
  overflow: hidden;
  position: relative;
  @apply px-14 py-3 mb-3 transform -translate-y-14 w-full hover:border-blue-100 text-primary_light-900 hover:text-blue-800 font-black tracking-wider shadow-xl;
}

span {
  z-index: 20;
}

.sign-in:after {
  content: "";
  display: block;
  position: absolute;
  top: -36px;
  left: -100px;
  background: white;
  width: 50px;
  height: 125px;
  opacity: 20%;
  transform: rotate(-45deg);
}

.sign-in:hover:after {
  left: 120%;
  transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
  -webkit-transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
}

.sign-in:disabled,
.sign-in[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}
.sign-in:disabled:hover:after,
.sign-in[disabled]:hover:after {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.fullImg {
    position: relative;
    display: flex;
    flex-direction: column;
}

.fullImg .text-over_box {
    background-color: #FFF;
    color: #38384A;
    order: 2;
    @apply  shadow-2xl mb-16 transform -translate-y-5;
}

.color_box {
    position: relative;
    background-color: #151E3B;
    color: #fff;
    font-size: 16px;
    padding: 20px;
    height: 100%;
    height: auto;
}

.parraph {
    @apply text-center font-extralight md:text-xl;
}

.ns-tag {
    color: #FF4833;
    margin-bottom: 0.75rem;
}

.link_button:before, .link_button:after {
    content: " ";
    display: table;
}

@media (min-width: 768px)
.statement_box {
    padding: 3rem;
}

.divabout {
    @apply flex mb-16;
}

.btnlabel {
    @apply text-teal-600 hover:text-teal-700 hover:font-bold transform duration-300;
}