<nav class="background">
  <div class="main">
    <a routerLink="/" class="flex items-center">
    </a>
    <img src="https://www.newshore.es/media/1411/newshore-by_flyr-logo.svg" class="picnewshore" alt="">

    <div class="flex md:order-2">
      <button (click)="toggle()" data-collapse-toggle="navbar-sticky" type="button" class="burguerbtn"
        aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 
            15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <div [ngClass]="hidden"
      class="navegation items-center justify-between w-full transition duration-300 md:flex md:w-auto md:order-1"
      id="navbar-sticky">
      <ul class="unorderlist">
        <li>
          <a routerLink="/home" class="home" aria-current="page">Home</a>
        </li>
        <li>
          <a routerLink="/" class="list">About</a>
        </li>
        <li>
          <a routerLink="/" class="list">Services</a>
        </li>
        <li>
          <a routerLink="/" class="list">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>